.main {
  max-width: 932px;
  margin: 16px auto 0;
}

.main .card {
  box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23);
  padding: 16px;
  box-sizing: border-box;
  border-top: 3px solid #000;
  margin: 0 16px 16px 0;
}

.main .card img {
  width: 100%;
}

.main .card .topic {
  font-size: 10px;
}

.main .card .title {
  font-size: 18px;
  font-family: 'Futura';
  line-height: 1.2;
}

.main .card .author {
  font-size: 10px;
}

.main .card.right-image {
  height: 160px;
}

.main .card.right-image img {
  width: inherit;
  height: 100%;
  float: right;
}

.main .card.left-image {
  height: 160px;
}

.main .card.left-image img {
  max-width: 50%;
  max-height: 100%;
  float: left;
}

.main > section.popular > .popular-left {
  width: 632px;
  float: left;
}

.main > section.popular > .popular-left > .row1 > .col1 {
  width: calc(100% / 3 * 2 - 16px);
  float: left;
  height: 330px;
}

.main > section.popular > .popular-left > .row1 > .col2 {
  width: calc(100% / 3 - 16px);
  float: left;
  height: 330px;
}

.main > section.popular > .popular-left > .row2 > .col1 {
  width: inherit;
  float: left;
}

.main > section.popular > .popular-left > .row2 > .col2 {
  width: calc(100% / 2 - 16px);
  float: left;
  height: 336px;
}

.main > section.popular > .popular-left > .row3 {
  height: 100px;
}

.main > section.popular > .popular-right {
  width: 300px;
  background-color: blue;
  float: left;
}

.main > section.popular > .popular-right > ul > li {
  border-bottom: 1px solid black;
  height: 100px;
}

.main > section.popular > .popular-right > ul > li:first-child {
  border-top: 1px solid black;
}
